@font-face {
    src: url('./../../Fonts/Premier Sans.otf');
    font-family: "Premier Sans";
}

@font-face {
    src: url('./../../Fonts/Montserrat-Regular.ttf');
    font-family: "Montserrat";
}